.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1F435D;
}

h1{
  color: white;
}

.center{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.classLink{
  padding: 40px;
  margin: 20px;
  background-color: #1E72BE;
  color: white;
  font-size: 40px;
  width: 30%;
  text-align: center;
  text-decoration: none;
}

.returnLink{
  padding: 20px;
  margin: 10px;
  background-color: #1E72BE;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.dialButtonsContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numberField{
  background-color: white;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dialButton{
  font-size: 24px;
  color: white;
  padding: 20px 50px;
  margin: 10px;
  border-radius: 10px;
  background-color: #1E72BE
}