.linkContainer{
    display: flex;
    justify-content: center;

}

.classLink{
    padding: 50px;
    margin: 20px;
    background-color: #1E72BE;
    color: white;
    font-size: 40px;
    width: 50%;
    text-align: center;
    text-decoration: none;
}
